.modal-wrapper{
    background-color:gray;
    width:80%;
    max-width: 700px;
    height: 400px;
    margin:110px auto;
}
.modal-header{
   
    padding:15px;
    float: right;
    height: 20px;  
}
.modal-content{
   
    justify-content: center;
    padding:20px;
}