@import '../../App.scss';

.menu-container {
    padding: 2px;
}
.menu-order-title{
    width: 300px;
    display: flex;
    padding: 5px;
    margin-left: 15px;
    h3{
        flex-grow: 0.3;
    color: white;
    font-family: 'Vast Shadow', cursive;
    font-size: 15px;
    font-weight: 50;
    }
}
.menu-option {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 130px;
    display: block;
    float: left;
}

.menu-nav {
    li {
        display: inline;
        color: $c-darkBrown;
        font-size: 40px;
        font-family: 'Anton', sans-serif;
        padding: 10px;
        cursor: pointer;
        margin-right: 3px;

        .active{
            color: $c-ligthBrown; 
        }

        &:hover {
            color: $c-ligthBrown;
        }

        &:nth-child(n+2):before {
            content: '';
            border-right: 1px solid white;
            margin-right: 10px;
        }
    }
}

.menu-order {
    font-family: 'Anton', sans-serif;
    position: absolute;
    width: 40%;
    height: 100%;
    top: 130px;
    left: 600px;
    border-left: 2px solid white;
    display: block;
    float: right;
    padding:10px;
}

.title-menu {
    margin-top: -0.4px;
    text-align: center;
    color: $c-darkBrown;
    font-size: 40px;
    letter-spacing: 3px;
}

.data-button-product {
    padding: 40px;
    box-sizing: border-box;
    width: 564px;
    height: 370px;
    // overflow-y: scroll;
}
.Orderitem-box {
    box-sizing: border-box;
    display: flex;
    margin-left: 40px;
    .cant{
       width:50px; 
    }
    .product{
        width:150px;
       
    }
    p {
        flex-grow: 0.1;
        color:white;
        font-family:'Handlee', cursive;
    }
}
.menu-inputs{
    margin-top:-15px;
    margin-left:20px;
    margin-right:20px;
    padding:10px;
    align-items: center;
       .table{
        width:30px;
        margin-left: 10px;
        background-color: #363636;
        outline:none;
        border:none;
        color:white;
    }
    .customer{
        width:100px;
        margin-right:70px;
        margin-left: 10px; 
        background-color: #363636;
        outline:none;
        border:none;
        color:white;
        
    }
    
}
label{
    color:white;
    margin-left: -10px;
    font-size:20px;
}
.tab-order{
    width:400px;
    height:150px;
    overflow-y:scroll;
}
.menu-order-btns{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
.cancel-btn{
    font-family: 'Anton', sans-serif;
    color:$c-red;
    background-color: transparent;
    font-size:30px;
    border:none;
    outline:none;
    cursor:pointer
}
.send-btn{
    font-family: 'Anton', sans-serif;
    color: #1d1d1d;
    background-color: #5D9B84;
    font-size: 30px;
    border: none;
    outline: none;
    width: 200px; 
    cursor: pointer;
    border-radius:10px;
}
}