$black : #2C2C2C;
$orange :#D4804C;
$yellow : #FFD195;
$green : #5D9B84;
$white : #FFFFFF;
$grey : #C4C4C4;
$titles1-font : 'Anton', sans-serif;
$titles2-font : Vast Shadow;
$content-font : Handlee;

.modalContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $black; 
    color: $orange;
}